form {
  position: relative;

  > i-bs[name="search"] {
    position: absolute;
    left: 0.6rem;
    top: .35rem;
    color: #6c757d; // xám icon

    @media screen and (min-width: 768px) {
      top: 0.25rem;
    }
  }

  &:focus-within {
    i-bs[name="search"],
    .badge {
      display: none !important;
    }

    .form-control::placeholder {
      color: transparent;
    }
  }

  .badge {
    font-size: 0.8rem;
    color: #6c757d;
  }

  .input-group .btn {
    border-color: #ced4da;
    color: #212529;
    padding-top: .15rem;
    padding-bottom: .15rem;
    min-height: calc(1.3em + 0.5rem + calc(var(--bs-border-width) * 2)) !important;
    background-color: #f8f9fa;
  }

  .form-control {
    color: #212529;
    background-color: #ffffff;
    padding-left: 1.8rem;
    border-color: #ced4da;
    transition: all .3s ease, padding-left 0s ease;

    > input {
      outline: none;
      color: #212529;

      &::placeholder {
        color: #adb5bd;
      }
    }

    &:focus-within {
      background-color: #ffffff;
      color: #212529;
      flex-grow: 1;
      padding-left: 0.5rem;
      border-color: #adb5bd;
      box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.05);
    }
  }
}


* {
  --pngx-focus-alpha: 0;
}

.mh-75 {
  max-height: 75vh;
}

.dropdown-item {
  &:has(button:focus) {
    background-color: var(--pngx-bg-darker);
  }

  & button {
    transition: all 0.3s ease, color 0.15s ease;
    max-width: 2rem;
    overflow: hidden;
  }

  & button span {
    opacity: 0;
    transition: inherit;
  }

  &:hover button,
  &:has(button:focus) button {
    max-width: 10rem;
  }

  &:hover button span,
  &:has(button:focus) span {
    opacity: 1;
  }
}
.wb {
  background-color: white;
}